.SidebarContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-right: 0.5px solid rgb(230, 227, 227);
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.sidebarItem {
  display: flex;
  align-items: center;

  color: gray;
  cursor: pointer;
  width: 100%;
}

.sidebarItem:hover,
.sidebarItem.active {
  background-color: #4763e6;
  border-radius: 4px;
  color: white;

}

.sidebarItem:hover .icon,
.sidebarItem.active .icon,
.sidebarItem:hover .itemText,
.sidebarItem.active .itemText {
  color: white;
}

.icon {
  margin-right: 15px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: gray; /* Cor padrão dos ícones */
}

.itemText {
  font-size: 16px;
  color: gray; /* Cor padrão do texto */
}

.content {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #fbfafb;
}

.icon {
  margin: 1rem;
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 700px) {
  .iconContainer {
    display: flex;
    flex-direction: row;
  }
}
