.container {
  display: flex;
  margin: 1rem;
  justify-content: space-between;
  width: 100vw;
  
}
.menuButton{
    background-color: white;
    color: white;
}
.img{
    width: 10vw;
}
@media screen and (min-width: 700px) {
  .container {
    display: none;
  }
}
